{% load template_filters %}

{% if my_messages %}
    {% if my_messages|has_key_in_dict_string:"error" %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ my_messages|get_key_by_dict_string:"error" }}
        </div>
    {% endif %}

    {% if my_messages|has_key_in_dict_string:"warning" %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ my_messages|get_key_by_dict_string:'warning' }}
        </div>
    {% endif %}

    {% if my_messages|has_key_in_dict_string:"info" %}
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ my_messages|get_key_by_dict_string:'info' }}
        </div>
    {% endif %} 

    {% if my_messages|has_key_in_dict_string:"success" %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ my_messages|get_key_by_dict_string:'success' }}
        </div>
    {% endif %}
{% endif %}