{% load static %}
{% load template_filters %}

<div class="container-fluid mynavegation-menu-area">
	<div class="row">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" >
		<!-- Brand -->
		<a class="navbar-brand" data-bs-toggle="popover" title="Projeto Django Basic 1" data-content="URL and Password" href="#" >
		    <img class="rounded-circle" src="{% static "assets/images/image001.ico" %}" alt="Logo de algo" style="width:40px;">
		    <span class="text-left" id="navbarTitle">Projeto Django Basic 1</span>
		</a>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" id="menuButtom">
		    <span class="navbar-toggler-icon"></span>
		</button>
				
		<div class="collapse navbar-collapse" id="myNavbar">		
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link" href="{% url 'main:home' %}">Home</a></li>
				{% if user.is_superuser or user|isin_group:"AdministrativoA" %}
					<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i>Administrative Area</i></a></li>
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop1" role="button" data-bs-toggle="dropdown" href="#">Aplicações<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" >
						<li><a class="dropdown-item" href="https://translate.google.com.br/" target="_blank">Google <i>tradutor</i></a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbardrop2" role="button" data-bs-toggle="dropdown" href="#">e-Mails<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="https://www.gmail.com" target="_blank">Gmail</a></li>
						<li><a class="dropdown-item" href="https://outlook.live.com/owa/?authRedirect=true" target="_blank">Outlook</a></li>
					</ul>
				</li>
				{% if user.is_superuser or user|isin_group:"AdministrativoA" %}
					<li class="nav-item"><a class="nav-link" href=""><i>Refresh Inative Status</i></a></li>
				{% endif %}
	 
			</ul>
			<ul class="navbar-nav ml-auto" >
				{% if user.is_authenticated %}
					<li class="nav-item dropdown" > 
						<a class="nav-link dropdown-toggle" href="" id="navbarLogon" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10px;">{{ user.get_username }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="ul_perfil">
							<p class="text-white text-right font-07" id="displaySessionTimer" style="padding: 3px; background-color: #1f8752;" >
								<b style="padding-left: 5px;" >Inatividade: </b>
								<!-- Display the countdown timer in an element -->
								<span id="countDownInactiveSessionExpireTimer" style="padding-right: 5px;"></span>
								<br>
								<b style="padding-left: 5px;" >Conexão: </b>
								<span id="countDownSessionExpireTimer" style="padding-right: 5px;"></span>
							</p>
							<hr>
							<li class="dropdown-divider"></li> 
							<li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
							<li class="dropdown-divider"></li> 
							<li><a class="dropdown-item help font_12" href="">Termos de Serviço</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{% url 'login' %}?next={% url 'main:home' %}" id="tag_login" style="color: white;">Login</a></li>
				{% endif %}
			</ul>
				
		</div>
		
	</nav>

	</div>	
</div>	

<script>
	$(document).ready(function(){
	  $('[data-bs-toggle="popover"]').popover();
	});

	
</script>

