{% extends "base.html" %}

{% load static %}

{% load template_filters %}

{% block content %}

<form action="" method="post">
	{% csrf_token %}
	<div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
		<div class="card-header">
			<h4 class="card-title fixed-right"><b>Perfil - Alterar Senha</b></h4>
			<h5 class="card-subtitle" >{{ user.get_username }}</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<a href="{% url 'person:perfil' %}" class="btn card-link text-primary">Voltar</a>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<input class="btn card-link text-primary" type="submit" value="Atualizar Senha">
				</div>
			</div>
			<hr>
			{% if form.errors %}
				<div class="alert alert-warning alert-dismissible font_12">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<!--{{ form.errors }}-->
					{% for key, value in form.errors.items %}
						{% if key == 'old_password' %}
							<p><b>Senha antiga:</b> <br> {{ value }}</p>
						{% elif key == 'new_password1' %}
							<p><b>Nova senha: <br> {{ value }}</p>
						{% elif key == 'new_password2' %}
							<p><b>Confirmação da nova senha:</b> <br> {{ value }}</p>
						{% else %}
							<p><b>{{ key }}</b> {{ value }}</p>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			{% for field in form %}
			<div class="form-row">
				<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
					<label class="font_12"><strong>{{ field.label_tag}}</strong></label>
				</div>
				<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
					<input type="password" class="form-control font_12" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value|add:'' }}">
					<input type="checkbox" onclick="myFunction( '{{ field.name }}' )"> <span class="font_12">Mostrar Senha</span>
				</div>
				{% if field.help_text %}
					<!-- 
						Tratamento para poder formatar diretamente o help_text. 
						Por padrão esta variável tem seu conteúdo organizado como tag <ul> onde cada item está em uma tag <li>. 
							1º Remove as tags com filter 'striptags';
							2º Transforma em lista com o filtro criado 'split_help_text';
							3º Itera sobre a lista exibindo cada item com a formatação desejada.
					-->
					<ul>
					{% with field.help_text|striptags|split_help_text:'.' as text %}
						{% for line in text %}
							<li class="font_12">{{ line }}</li>
						{% endfor %}
					{% endwith %}
					<ul>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</form>

{% endblock %}