{% load static %}
<footer>
	<div class="container-fluid myfooter-area">
		<!-- END Content -->
		{% block footer %}

		<input type="hidden" id="time_sessionEnd" name="time_sessionEnd" value="{{ seconds_until_session_end }}" style='width:300px; padding-left: 40px;' class="texto_com_recuo_esquerdo_justificado">
		<input type="hidden" id="time_sessionIdleEnd" name="time_sessionIdleEnd" value="{{ seconds_until_idle_end }}" style='width:300px; padding-left: 40px;' class="texto_com_recuo_esquerdo_justificado">

			{% for key, value in request.session.items %}
				{% if key == 'django_auto_logout_last_request' %}
					<input type="hidden" id="initial_date_inactive_session" name="initial_date_inactive_session" value="{{ value }}" style='width:300px; padding-left: 40px;'>
				{% endif %}
			{% endfor %}

		<div class="row">
	        <div class="col-12 text-center p-2 font-08">
	              <small> Desenvolvido por Cleber Almeida Pereira &copy; </small>
	        </div>
	    </div>
		{% endblock %}
	</div>

</footer>

<script type="text/javascript">

	
	function myFunction(field_id) {
		var x = document.getElementById(field_id);
		
		if (x.type === "password") {
			x.type = "text";
		} else {
			x.type = "password";
		}
	}

</script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/Bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/all.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>

<script src="{% static 'assets/js/interval_count.js' %}"></script>

