{% load static %}
<head>
	{% block title %}<title>Django Basic 1</title>{% endblock %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/image001.ico' %}">  
	<link rel="stylesheet" type="text/css" href="{% static 'assets/Bootstrap5/css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts_size.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/app.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/contents_menu_left.css' %}">
	


</head>