{% extends "base_comum.html" %}

{% block content %}
    <p>Por favor entre (e confirme) sua nova senha.</p>
    <form action="" method="post">
    {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Nova senha:</label>
                    <input type="text" id="id_new_password1" name="id_new_password1" value="{{ id_new_password1 }}" size=50>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirme a nova senha:</label>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Redefinir minha senha!" /></td>
            </tr>
        </table>
    </form>
{% endblock %}